<!doctype html>
<html>
	<head>
    <meta charset="utf-8">	
    <title>Black Scorpions - Fantasy Football Team</title>
    <link rel="stylesheet" type="text/css" href="css/scorpions.css">
	</head>
	<body>
    <header>
    	<img src="img/BlackScorpion.png" alt="Black Scorpion Logo" height="182" width="189">
    	<h1>Black Scorpions</h1>
    </header>
    <nav>
    	<li><a href="index.html">Home</a></li>
    	<li><a href="team.html">Team</a></li>
    	<li><a class="active">Downloads</a></li>
    	<li><a href="kontakt.html">Kontakt</a></li>
    </nav>
    <main id="main">
    	<h2>Downloads</h2>
    	<div>
        <h3>Teamlogo</h3>
        <img src="img/default.jpg" alt="Teamlogo">
        <p>Teamlogo der Black Scorpions. <a href="#">Dowload</a></p>
    	</div>
    	<div>
        <h3>Blitzerskin 1</h3>
        <img src="img/default.jpg" alt="Skin Blitzer1">
        <p>Dunkleres Skin Blitzer 1. Ausserdem wurde die Auflösung erhöht. <a href="#">Dowload</a></p>
    	</div>
    	<div>
        <h3>neuer Runner 1</h3>
        <img src=" img/default.jpg" alt="Skin Runner Tattoo">
        <p>Runner mit Tattoo. <a href="#">Dowload</a></p>
    	</div>
    </main>
    
    <footer>
           	<span>
    	   Design: SteelJoker
    	</span>
    	<span>
        technische Umsetzung:
        <a href="http://selfhtml.org/">selfhtml.org</a>
    	</span>
        </footer>
	</body>
</html>	