<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">	
  <title>{TITEL}</title>
  <link rel="stylesheet" type="text/css" href="/WNG/css/scorpions.css">
</head>

<body>
  <header>
        <img src="/WNG/img/wiggles_kochstudio.png" alt="Logo" class="logo">
        <h1>{TITLE}</h1>
  </header>
  
    <nav>
          <li><a class="active">Home</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="downloads">Downloads</a></li>
          <li><a href="kontakt">Kontakt</a></li>
    </nav>
    <main id="main">
        <div>{CONTENT}  	</div>
    </main>
  <footer>    
    <span>
  	   Design: SteelJoker
  	</span>
  <span>
  	technische Umsetzung:
  	<a href="http://selfhtml.org/">selfhtml.org</a>
  </span></footer>
	
</body>
</html>
