<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">	
  <title>Black Scorpions - Fantasy Football Team</title>
  <link rel="stylesheet" type="text/css" href="css/scorpions.css">
</head>

<body>
  <header>
  	<img src="img/wiggles_kochstudio.png" alt="Black Scorpion Logo" height="182" width="189">
  	<h1>[WNG] Wiggles nextGen</h1>
  </header>
  <nav>
  	<li><a class="active">Home</a></li>
  	<li><a href="team.html">Team</a></li>
  	<li><a href="downloads.html">Downloads</a></li>
  	<li><a href="kontakt.html">Kontakt</a></li>
  </nav>
  <main id="main">
  	<h2>Neues Teamlogo</h2>
  	<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
    takimata sanctus est Lorem ipsum dolor sit amet.
  	</p>
  	<h2>Neuer Skin</h2>
  	<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
    sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
    takimata sanctus est Lorem ipsum dolor sit amet.
  	</p>  	
  </main>
  
  <footer>    
    <span>
  	   Design: SteelJoker
  	</span>
  <span>
  	technische Umsetzung:
  	<a href="http://selfhtml.org/">selfhtml.org</a>
  </span></footer>
	
</body>
</html>
