<!doctype html>
<html>
	<head>
  <meta charset="utf-8">	
  <title>Black Scorpions - Fantasy Football Team</title>
  <link rel="stylesheet" type="text/css" href="css/scorpions.css">
	</head>
	<body>
  <header>
  	<img src="img/BlackScorpion.png" alt="Black Scorpion Logo" height="182" width="189">
  	<h1>Black Scorpions</h1>
  </header>
  <nav>
  	<li><a href="index.html">Home</a></li>
  	<li><a href="team.html">Team</a></li>
  	<li><a href="downloads.html">Downloads</a></li>
  	<li><a class="active">Kontakt</a></li>
  </nav>
  <main id="main">
  	<h2>Kontakt</h2>
  	
  	<p>
    Max Mustermann<br>
    Musterstr. 5<br>
    12345 Musterhausen<br>
    emailadresse
  	</p>
  </main>
  
  <footer>        	
        	<span>
  	   Design: SteelJoker
  	</span>
  <span>
  	technische Umsetzung:
  	<a href="http://selfhtml.org/">selfhtml.org</a>
  </span>
        </footer>
	</body>
</html>	